/*body{
    
    font-family: 'Outfit', sans-serif;
    display: flex;
    flex-direction: column;
    justify-"item-form: center;
    align-items: center;
}
form{
    display: grid;
    grid-template-rows: repeat(11, 1fr);

}
.griding{
    display:grid;
    grid-template-rows: repeat(2, 1fr)
}
.alert{
    opacity: 0;
    position:absolute;
    top:0;
    left:360px;
    background-color: salmon;
    border: 2px solid black;

}
.dangerAlert{
    opacity: 0;
    background-color: red;


}
.btn{
    background-color: rgb(139, 186, 248);
    color: #000;
    border: 1px solid #000;
    padding: 5px 25px 5px 25px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.alertAnim {
    animation: fadeOut 1s forwards;
    
}
.alertaFadeIn {
    animation: fadeIn 1s forwards;
}



@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate(0,5vh);
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translate(0,-5vh);
    }
    100% {
        opacity: 1;
    }
}

*/
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95vw;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: red;
  font-size: 2em;
}

header img {
  width: 95vw;
  height: auto;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95vw;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95vw;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.btn {
  background-color: red;
  border: 1px solid rgba(0, 0, 0, 0);
  border-style: none;
  color: white;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn :hover {
  opacity: 0.8;
}

.separador {
  width: 100px;
  height: 10px;
  margin: auto;
  border-style: none;
  background: -webkit-gradient(linear, right top, left top, from(red), color-stop(blue), to(#82b2ee));
  background: linear-gradient(to left, red, blue, #82b2ee);
  margin-top: 20px;
  margin-bottom: 20px;
}

.item-form {
  width: auto;
  text-align: center;
}

.item-form label {
  color: red;
  font-weight: bold;
  margin-top: 1px;
}

.item-form input {
  width: 100%;
  height: 1.5rem;
  border-radius: 5px;
  border: 1px solid #000;
  padding: 5px;
  margin-top: 10px;
}

.item-form select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1.5rem;
  border-radius: 5px;
  border: 1px solid #000;
  padding: 5px;
  margin-top: 10px;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container-form {
  width: 70%;
  background-color: #cda1ca00;
}

.dolarAhora {
  width: 80%;
  height: 40vh;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.dangerAlert {
  opacity: 0;
  background-color: red;
  border: 2px solid black;
}

.alert {
  opacity: 0;
}

#boton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 480px) {
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container-form {
    width: 100%;
  }
  .item-form {
    width: 100%;
  }
  .dolarAhora {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */